
<h1>NAME: <%=  @volunteer.name %></h1>
  <h2>Edit Volunteer</h2>

  <h3>Volunteers</h3>
    <ul>
      <% @volunteers.each() do |volunteer|%>
      <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
      <% end %>
    </ul>
  <br>

<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Update your volunteer name:</label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit" class="btn btn-primary">Update Volunteer</button>
</form>
<br>
<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Volunteer</button>
</form>
<br>
<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-warning" name="clear_btn">Home Page</button>
</form>
